<div class="container">
  <div class="title__container">
    <p class="title">We're launching soon</p>
  </div>

  <div class="count__container">
    <div class="counter__box">
      <div class="box">
        <p>{{days}}</p>
      </div>
      <div class="box-title">
        <p class="title">Days</p>
      </div>
    </div>

    <div class="counter__box">
      <div class="box">
        <p>{{hours}}</p>
      </div>
      <div class="box-title">
        <p class="title">Hours</p>
      </div>
    </div>

    <div class="counter__box">
      <div class="box">
        <p>{{min}}</p>
      </div>
      <div class="box-title">
        <p class="title">Minutes</p>
      </div>
    </div>

    <div class="counter__box">
      <div class="box">
        <p>{{sec}}</p>
      </div>
      <div class="box-title">
        <p class="title">Seconds</p>
      </div>
    </div>

  </div>
</div>
