.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background-image: url("../../../assets/images/bg-stars.svg");
  background-repeat: no-repeat;
  /* background-position: bottom; */
  background-color: hsl(234, 17%, 12%)
}

.title{
  font-size: 2em;
  text-align: center;
  color: hsl(345, 95%, 68%);
}

.title__container{
  display: flex;
  flex-direction: row;
}

.count__container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin: 2em;
}

.counter__box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
  background-color: black;
  color: hsl(345, 95%, 68%);
  width: 6em;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.box_number{
  font-size: 4em;
}
