<div class="container">
  <div class="title__container">
    <p class="title">We're launching soon</p>
  </div>

  <div class="count__container">
    <div class="counter__box">
      <div class="box">
        <p class="box_number">{{days}}</p>
        <div class="box-up"></div>
        <div class="box-down"></div>
      </div>
      <div class="box-title">
        <p class="title">DAYS</p>
      </div>
    </div>

    <div class="counter__box">
      <div class="box">
        <p class="box_number">{{hours}}</p>
        <div class="box-up"></div>
        <div class="box-down"></div>
      </div>
      <div class="box-title">
        <p class="title">HOURS</p>
      </div>
    </div>

    <div class="counter__box">
      <div class="box">
        <p class="box_number">{{min}}</p>
        <div class="box-up"></div>
        <div class="box-down"></div>
      </div>
      <div class="box-title">
        <p class="title">MINUTES</p>
      </div>
    </div>

    <div class="counter__box">
      <div class="box">
        <p class="box_number">{{sec}}</p>
        <div class="box-up"></div>
        <div class="box-down"></div>
      </div>
      <div class="box-title">
        <p class="title">SECONDS</p>
      </div>
    </div>
  </div>
  <div class="listContact">
    <div class="btn btn-contact-face"></div>
    <div class="btn btn-contact-inst"></div>
    <div class="btn btn-contact-pin"></div>
  </div>
  <div class="footer"></div>
</div>
